@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&display=swap');
.Signup-wrapper{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.signup-form-wrapper{
    display: flex;
    height: 600px;
    width: 300px;
    justify-content: center;
    flex-direction: column;
}
.login-form-wrapper{
    display: flex;
    height: 500px;
    width: 300px;
    justify-content: center;
    flex-direction: column;
}
.signup-form-title{
    display: flex;
    height: 100px;
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
.logo-title-wrapper{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.logo-title-wrapper h2{
    color: white;
    font-size: 40px;
}
.logo-title-wrapper h2 i{
    font-size: 40px;
}
.signup-form{
    display: flex;
    height: 400px;
    width: 100%;
    justify-content: center;
}
.signup-form form{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 10px;
}
.signup-form form input{
    margin-top: 16px;
    font-size: 14px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    background: none;
    border: none;
    color: white;
    border-bottom: 0.5px solid gray;
    padding: 6px;
}
.signup-form form input:hover{
    border-color: indianred;
}
.signup-form form input:focus{
    outline: none;
    border-color: tomato;
}
.signup-form form button{
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: 'Cairo', sans-serif;
    background: rgba(255, 99, 71, 0.775);
    color: white;
    border: none;
    padding: 4px;
    transition-timing-function: ease;
    transition-duration: 0.4s;
    margin-top: 16px;
    font-weight: bolder;
}
.signup-form form button:hover{
    background: rgb(255, 74, 42);
}
.linker{
    font-size: 14px;
    color: white;
    text-decoration: none;
    font-family: monospace;
    margin-top: 20px;
    transition-timing-function: ease;
    transition-duration: 0.2s;
}
.linker:hover{
    color: tomato;
}