*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.account-setup{
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
.account-setup-cont{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.acc-setup-title{
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.acc-setup-title h1{
    color: white;
    font-family: 'Cairo', sans-serif;
    font-size: 40px;
}
.welcome-text-wrapper{
    display: flex;
    height: 500px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.welcome-text-wrapper h4{
    color: white;
    font-family: 'Cairo', sans-serif;
}
.welcome-text-wrapper h5{
    color: white;
    font-family: 'Cairo', sans-serif;
}
.welcome-text-wrapper button{
    color: white;
    width: 100px;
    height: 40px;
    background: tomato;
    border: none;
    margin-top: 20px;
    text-align: center;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 16px;
    transition-timing-function: ease;
    transition-duration: 0.6s;
}
.welcome-text-wrapper button:hover{
    background: rgb(253, 125, 103);
    scale: 1.02;
}